/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
}

header img {
    max-width: 100%;
    height: auto; 
    max-height: 150px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

nav a:hover {
    background-color: #777; 
}

main {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
